<div class="container">

<h1>Photo Sharing!<small> Under construction</small></h1>

<% if current_user %>
  <% end %>

<div class="column">
  <h3>Users</h3>
    <% @users.each do |person| %>
      <div class="users">
      <p><%= person.email %> <%= image_tag person.avatar.url(:thumb) %></p>
      </div>
    <% end %>
</div>
