<div class="container">

<h1>Photo Sharing!<small> Under construction</small></h1>

<% if current_user %>
  <%= image_tag current_user.avatar.url(:thumb) %>
  <%= image_tag current_user.avatar.url %>
  <%= image_tag current_user.avatar.url(:medium) %>
  <% end %>
</div>
