.main-nav li {
  display: inline;
  margin-right: 1em;

}


a:link {
  color: white;
}
a:visited {
  color: white;
}
a:hover{
  color: yellow;
}
a:active {
  color: yellow;
}

.nav-right {
  float: right;
}
